* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.miheader a.accesible,footer{
    background-color:#00695C;
    font-family: sans-serif;
    color: #ffff;
    text-align: center;
}
a{
    text-decoration: none;
    cursor:default;
}

.accesible{ /*Logo-accesible*/
    font-size: 2.5rem;
    line-height: 6.25rem;
    text-align: center;
}

body {
    background-color:#A8C0C1;
}
.home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text {
    font-family: sans-serif;
    color: #353a3bfb;
}
#mapid { 
    background-color: #A8C0C1;
    flex: 2;
    height: 31.25rem;
    min-width: 15.625rem;
    outline: none;
    padding: 1.875rem;
    position: relative;
    z-index: 1;
 }
 #desc {
     background-color:#A8C0C1;
     text-align: center;
     flex-grow: 1;
     flex-basis: 5.625rem;
     margin:0 auto;
     min-width: 15.625rem;
     padding: 1.25rem;
     height: 31.25rem;
 }
 #info {
    height:82%;
    width: 90%;
    border-style: groove;
    border-color: #55F3A3;
    background-color: #ffff;
    flex: 1;
    margin:0 auto;
    min-width: 15.625rem;
    padding: 1.25rem;
    overflow-y: auto;
}
#separator{
    border-top: 0.5rem solid #fff;
    border-radius: 0.313rem;
}
 #boton_acc{
     text-align: center;
     background-color: aquamarine;
 }
.centrar{
    display: flex;
    justify-content: center;
}
.ocultar-visualmente { /*Hiding text*/
    position:absolute;
    overflow:hidden;
    text-indent:-9999px;
}

footer{
    margin-top: 0rem;
    padding: 1rem 0;
    height:6.25rem;
}
.footer__texto{
    text-align: center;
    margin-top: 3rem;

}
.group-search{
    background-color: #208f81bd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 0.6rem;
}
.search,.search2{
    width: 50%;
}
.search-title {
    padding: 0.6rem;
}
.miheader {
    overflow: hidden;
    background-color: #00695C;
    padding: 1.25rem 0.625rem;
  }
  
  .miheader a {
    float: left;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.125rem; 
    line-height: 1.563rem;
    border-radius: 0.25rem;
  }
  
  .miheader a.accesible {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.8rem;
  }

  .header-right {
    float: right;
} 
    a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 0.75rem;
    left: 0%;
    color: white;
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
}
.mediaplayer{
    padding: 0.5rem;
}
.myplayer{
    display: flex;
    height: 18rem;
    width: 100%;
}
  @media screen and (max-width: 500px) {
    .miheader a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .header-right {
        float: none;
        display:flex;
        justify-content: center;
      }
      a.button {
        background-color: #4CAF50;
        border: none;
        text-align: center;
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: center;
        border-radius: 0.75rem;
      }
    #mapid{
        background-color: #A8C0C1;
        flex: 0;
        height: 34.25rem;
        min-width: 20.4rem;
        outline: none;
        padding: 0;
        position: relative;
        z-index: 1;
    }
    .space-ajust {
        padding: 0.5rem;
    }
      .swal2-popup {
        font-size: 2rem;
    }
    .swal2-container {
        position: absolute !important;
    }
}
@media screen and (max-width: 320px){
    #info{
        height: 80%;
    }
}
@media screen and (max-width:512px) {
    .group-search{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .search,.search2{
        width: 100%;
    }
}
*{padding:0;margin:0;font-family:Arial,Helvetica,sans-serif}body{background-color:#A8C0C1}.text{font-family:sans-serif;color:#353a3bfb}#boton_acc{text-align:center;background-color:aquamarine}.centrar{display:flex;justify-content:center}.ocultar-visualmente{position:absolute;overflow:hidden;top:-9999px}.footer__texto{text-align:center;margin-top:3rem}.button{background-color:#4CAF50;border:none;border: radius 0.75em;;position:relative;left:30%;color:#fff;padding:0.938rem 2rem;text-align:center;text-decoration:none;font-size:1rem;margin: 0.25rem 0.125rem;cursor:pointer}